{%include 'base.html'%}
{%include 'navigation.html'%}


{% block content %}

<h1 class="text-center" style="margin-top: 50px;">About Us</h1>
<div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-6">
        <h1 class= "strong">Who we are and<br>what we do</h1>
        <p class="lead">This is World's leading hospital for<br>all your Medical Needs.</p>
      </div>
      <div class="col-md-6">
        <p>Welcome to ABC Hospital, where compassionate care meets cutting-edge medicine. Our dedicated team of healthcare professionals delivers personalized attention and top-quality treatment across specialties. With a commitment to innovation, we ensure access to advanced therapies and state-of-the-art technology. Deeply rooted in our community, we prioritize patient relationships and engage in health education initiatives. Here, your well-being is our priority. Trust us for exceptional healthcare and a healing environment that promotes both physical and emotional wellness. Welcome to a place where expertise and compassion converge to serve you best.</p>
        <p>Beyond our clinical expertise, ABC Hospital is deeply rooted in our community. We understand the importance of building strong relationships with our patients and their families, and we actively engage with local organizations to promote health education and wellness initiatives.</p>
      </div>

      <div class="row">
        <div class="side-heading text-center">
          <h3>Our Team</h3>
          <p>With a team of dedicated healthcare professionals, including experienced physicians, nurses, and support staff, we are committed to delivering comprehensive medical care across a wide range of specialties. From routine check-ups to complex surgical procedures, we strive to meet the unique needs of each individual, fostering a healing environment that promotes both physical and emotional well-being. </p>
          <div class="border"></div>
        </div>

      
    </div>
</div>
{% endblock content %}
{% include "footer.html" %}