{% include 'base.html' %}
{% load static %}
{% include 'navigation.html' %}

{% block content %}
{% if error == "no" %}
<script>
    alert('Record saved successfully');
    window.location = "{% url 'view_patient' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid details, please try again');
</script>
{% endif %}
<div class="container">
    <h2 class="text-center">Add Patient</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Patient Name</label>
        <input type="text" class="form-control" name="name" required/> <!-- Add required attribute -->
        <label>Gender</label><br/>
        <input type="radio" name="gender" value="male" required/> <!-- Add required attribute -->
        <label for="html">Male</label><br>
        <input type="radio" name="gender" value="female" required/> <!-- Add required attribute -->
        <label for="html">Female</label><br>
        <input type="radio" name="gender" value="Non-binary" required/> <!-- Add required attribute -->
        <label for="html">Non-binary</label><br>
        <label>Mobile</label>
        <input type="text" maxlength="10" class="form-control" name="mobile" required/> <!-- Add required attribute -->
        <label>Address</label>
        <input type="text" class="form-control" name="address" required/> <!-- Add required attribute -->

        <input type="submit" value="Submit" class="form-control btn btn-primary"/>

    </form>

</div>

{% endblock content %}

{% include "footer.html" %}
