{% include 'base.html' %}
{% load static %}
{% include 'navigation.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Bill</title>
    <style>
        /* CSS for styling the bill */
        body {
            font-family: Arial, sans-serif;
            margin: 0; /* Reset margin to remove spacing */
            padding: 0; /* Reset padding to remove spacing */
        }
        h2 {
            margin-top: 0; /* Reset margin for h2 to remove spacing */
        }
        .container {
            width: 80%;
            margin: 0 auto;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo {
            max-width: 150px;
            margin-bottom: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .total {
            font-weight: bold;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        .print-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img class="logo" src="{% static 'images/19.png' %}" alt="Hospital Logo" height="150px" width="150px">
            <h2>Hospital Bill</h2>
        </div>
        
        <!-- Radio buttons for billing option selection -->
        <div class="billing-option">
            <input type="radio" id="opd_billing" name="billing_option" value="opd" checked>
            <label for="opd_billing">OPD Billing</label>
            <input type="radio" id="indoor_billing" name="billing_option" value="indoor">
            <label for="indoor_billing">Indoor Billing</label>
        </div>

        <!-- Form for OPD Billing -->
        <form id="opd_billing_form">
            <!-- Fields for OPD Billing -->
            <table>
                <tr>
                    <th>Description</th>
                    <th>Amount (INR)</th>
                </tr>
                <tr>
                    <td>Patient Name</td>
                    <td>
                        <select id="opd_patient_name" name="patient_name" class="form-control">
                            <option value="" disabled selected>Select an option</option>
                            {% for patient in patients %}
                            <option value="{{ patient.Name }}">{{ patient.Name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Doctor Name</td>
                    <td>
                        <select id="opd_doctor_name" name="doctor_name" class="form-control">
                            <option value="" disabled selected>Select an option</option>
                            {% for doctor in doctors %}
                            <option value="{{ doctor.Name }}">{{ doctor.Name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td><input type="date" id="opd_date" name="opd_date"></td>
                </tr>
                <tr>
                    <td>Doctor Fees</td>
                    <td><input type="number" id="opd_doctor_charges" name="doctor_charges" min="0" step="0.01" onchange="calculateTotal()"></td>
                </tr>
                <tr>
                    <td>Medicine Charges</td>
                    <td><input type="number" id="opd_medicine_charges" name="medicine_charges" min="0" step="0.01" onchange="calculateTotal()"></td>
                </tr>
                <tr>
                    <td>Other Charges</td>
                    <td><input type="number" id="opd_other_charges" name="other_charges" min="0" step="0.01" onchange="calculateTotal()"></td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td id="opd_total_amount">0.00</td>
                </tr>
            </table>
            <!-- Remarks Section -->
            <div class="remarks">
                <h3>Diagnosed With:</h3>
                <input type="checkbox" id="opd_diabetes" name="opd_diabetes" onclick="showOPDSuggestions('diabetes')">
                <label for="opd_diabetes">Diabetes</label><br>
                <input type="checkbox" id="opd_hypertension" name="opd_hypertension" onclick="showOPDSuggestions('hypertension')">
                <label for="opd_hypertension">Hypertension</label><br>
                <input type="checkbox" id="opd_asthma" name="opd_asthma" onclick="showOPDSuggestions('asthma')">
                <label for="opd_asthma">Asthma</label><br>
                <input type="checkbox" id="opd_cardiovascular_diseases" name="opd_cardiovascular_diseases" onclick="showOPDSuggestions('cardiovascular_diseases')">
                <label for="opd_cardiovascular_diseases">Cardiovascular Problems</label><br>
                <input type="checkbox" id="opd_cancer" name="opd_cancer" onclick="showOPDSuggestions('cancer')">
                <label for="opd_cancer">Cancer</label><br>
                <input type="checkbox" id="opd_chronic_respiratory_diseases" name="opd_chronic_respiratory_diseases" onclick="showOPDSuggestions('chronic_respiratory_diseases')">
                <label for="opd_chronic_respiratory_diseases">Chronic Respiratory Problems</label><br>
                <input type="checkbox" id="none" name="none" onclick="showSuggestions('none')">
                <label for="none">None</label><br>
            </div>
        </form>
        

        <!-- Form for Indoor Billing -->
        <form id="indoor_billing_form" style="display: none;">
            <!-- Fields for Indoor Billing -->
            <table>
                <tr>
                    <th>Description</th>
                    <th>Amount (INR)</th>
                </tr>
                <tr>
                    <td>Patient Name</td>
                    <td>
                        <select id="indoor_patient_name" name="patient_name" class="form-control">
                            <option value="" disabled selected>Select an option</option>
                            {% for patient in patients %}
                            <option value="{{ patient.Name }}">{{ patient.Name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Doctor Name</td>
                    <td>
                        <select id="indoor_doctor_name" name="doctor_name" class="form-control">
                            <option value="" disabled selected>Select an option</option>
                            {% for doctor in doctors %}
                            <option value="{{ doctor.Name }}">{{ doctor.Name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Date Of Admission</td>
                    <td><input type="date" id="admission_date" name="admission_date" onchange="validateAdmissionDate()"></td>
                </tr>
                
                <tr>
                    <td>Date Of Discharge</td>
                    <td><input type="date" id="discharge_date" name="discharge_date" onchange="validateDischargeDate()"></td>
                </tr>
                <tr>
                    <td>Doctor Charges</td>
                    <td><input type="number" id="indoor_doctor_charges" name="doctor_charges" min="0" step="0.01" onchange="calculateTotal()"></td>
                </tr>
                <tr>
                    <td>Bed Charges</td>
                    <td><input type="number" id="bed_charges" name="bed_charges" min="0" step="0.01" onchange="calculateTotal()"></td>
                </tr>
                <tr>
                    <td>Medicine Charges</td>
                    <td><input type="number" id="indoor_medicine_charges" name="medicine_charges" min="0" step="0.01" onchange="calculateTotal()"></td>
                </tr>
                <tr>
                    <td>Other Charges</td>
                    <td><input type="number" id="indoor_other_charges" name="other_charges" min="0" step="0.01" onchange="calculateTotal()"></td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td id="indoor_total_amount">0.00</td>
                </tr>
            </table>
            <!-- Remarks Section -->
            <div class="remarks">
                <h3>Diagnosed With:</h3>
                <input type="checkbox" id="indoor_diabetes" name="indoor_diabetes" onclick="showSuggestions('diabetes')" >
                <label for="indoor_diabetes">Diabetes</label><br>
                <input type="checkbox" id="indoor_hypertension" name="indoor_hypertension" onclick="showSuggestions('hypertension')" >
                <label for="indoor_hypertension">Hypertension</label><br>
                <input type="checkbox" id="indoor_asthma" name="indoor_asthma" onclick="showSuggestions('asthma')">
                <label for="indoor_asthma">Asthma</label><br>
                <input type="checkbox" id="indoor_cardiovascular_diseases" name="cardiovascular_diseases" onclick="showSuggestions('cardiovascular_diseases')">
                <label for="cardiovascular_diseases">Cardiovascular Problems</label><br>
                <input type="checkbox" id="indoor_cancer" name="cancer" onclick="showSuggestions('cancer')">
                <label for="cancer">Cancer</label><br>
                <input type="checkbox" id="indoor_chronic_respiratory_diseases" name="chronic_respiratory_diseases" onclick="showSuggestions('chronic_respiratory_diseases')" >
                <label for="chronic_respiratory_diseases">Chronic Respiratory Problems</label><br>
                <input type="checkbox" id="none" name="none" onclick="showSuggestions('none')" >
                <label for="none">None</label><br>
            </div>
        </form>

        <!-- Text Box for Suggestions and Prescribed Medications -->
        <div id="suggestions-box" style="display: none;">
            <h3>Suggestions and Prescribed Medications:</h3>
            <textarea id="suggestions-textarea" rows="10" cols="50" ></textarea>
        </div>
        
        <!-- Print / Download PDF button -->
        <div class="button-container">
            <button class="print-button" onclick="printBill()">Print / Download PDF</button>
        </div>
    </div>

 <script>
        // Populate date field with today's date
        document.getElementById('opd_date').valueAsDate = new Date();
        //document.getElementById('admission_date').valueAsDate = new Date();

        // Function to calculate total amount
        function calculateTotal() {
            var opdDoctorCharges = parseFloat(document.getElementById('opd_doctor_charges').value) || 0;
            var opdMedicineCharges = parseFloat(document.getElementById('opd_medicine_charges').value) || 0;
            var opdOtherCharges = parseFloat(document.getElementById('opd_other_charges').value) || 0;
            var indoorDoctorCharges = parseFloat(document.getElementById('indoor_doctor_charges').value) || 0;
            var indoorMedicineCharges = parseFloat(document.getElementById('indoor_medicine_charges').value) || 0;
            var indoorOtherCharges = parseFloat(document.getElementById('indoor_other_charges').value) || 0;
            var bedCharges = parseFloat(document.getElementById('bed_charges').value) || 0;

            var opdTotal = opdDoctorCharges + opdMedicineCharges + opdOtherCharges; // Add other charges here
            var indoorTotal = indoorDoctorCharges + indoorMedicineCharges + indoorOtherCharges + bedCharges; // Add other charges here

            document.getElementById('opd_total_amount').innerText = opdTotal.toFixed(2);
            document.getElementById('indoor_total_amount').innerText = indoorTotal.toFixed(2);
        }
        
        // Function to show suggestions and prescribed medications for OPD billing
        function showOPDSuggestions(disease) {
            var suggestionsBox = document.getElementById('suggestions-box');
            var suggestionsTextarea = document.getElementById('suggestions-textarea');
            var checkbox = document.getElementById("opd_"+disease);
            if(!checkbox.checked)
            {
                suggestionsTextarea.value="";
            }

            // Reset suggestions and prescribed medications textarea
           // suggestionsTextarea.value = '';

            // Populate suggestions and prescribed medications based on selected disease for OPD billing
            else{
            switch (disease) {
                case 'diabetes':
            suggestionsTextarea.value += "Suggestions for diabetes:\n- Maintain a healthy diet rich in fruits, vegetables, and whole grains.\n- Engage in regular physical activity.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Metformin\n- Insulin\n\n";
            break;
        case 'hypertension':
            suggestionsTextarea.value += "Suggestions for hypertension:\n- Reduce sodium intake.\n- Engage in regular aerobic exercise.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- ACE inhibitors\n- Beta-blockers\n\n";
            break;
        case 'asthma':
            suggestionsTextarea.value += "Suggestions for asthema:\n- Avoid triggers such as smoke and allergens.\n- Use inhalers as prescribed.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Albuterol\n- Inhaled corticosteroids\n\n";
            break;
        case 'cardiovascular_diseases':
            suggestionsTextarea.value += "Suggestions for cardiovascular:\n- Follow a heart-healthy diet.\n- Exercise regularly.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Statins\n- Beta-blockers\n\n";
            break;
        case 'cancer':
            suggestionsTextarea.value += "Suggestions for cancer:\n- Follow treatment plan recommended by oncologist.\n- Seek support from friends and family.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Chemotherapy drugs\n- Targeted therapy drugs\n\n";
            break;
        case 'chronic_respiratory_diseases':
            suggestionsTextarea.value += "Suggestions for resoiratory:\n- Avoid smoke and pollutants.\n- Use respiratory aids as prescribed.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Bronchodilators\n- Corticosteroids\n\n";
            break;
        case 'none':
            suggestionsTextarea.value += "You are Absolutely Fit n Fine!!!";
            suggestionsTextarea.value += "You are Absolutely Fit n Fine!!!";
            break;
        default:
            suggestionsTextarea.value = "No suggestions available.You are Fit n Fine";
            break;
        }
    }

            // Show the suggestions box
            suggestionsBox.style.display = 'block';
        }

        // Function to show suggestions and prescribed medications for Indoor billing
        function showSuggestions(disease) {
            var suggestionsBox = document.getElementById('suggestions-box');
            var suggestionsTextarea = document.getElementById('suggestions-textarea');
            var checkbox = document.getElementById("indoor_"+disease);
            if(!checkbox.checked)
            {
                suggestionsTextarea.value="";
            }


            // Reset suggestions and prescribed medications textarea
           // suggestionsTextarea.value = '';

            // Populate suggestions and prescribed medications based on selected disease for Indoor billing
            else{
            switch (disease) {
        case 'diabetes':
            suggestionsTextarea.value += "Suggestions for diabetes:\n- Maintain a healthy diet rich in fruits, vegetables, and whole grains.\n- Engage in regular physical activity.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Metformin\n- Insulin\n\n";
            break;
        case 'hypertension':
            suggestionsTextarea.value += "Suggestions for hypertension:\n- Reduce sodium intake.\n- Engage in regular aerobic exercise.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- ACE inhibitors\n- Beta-blockers\n\n";
            break;
        case 'asthma':
            suggestionsTextarea.value += "Suggestions for asthema:\n- Avoid triggers such as smoke and allergens.\n- Use inhalers as prescribed.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Albuterol\n- Inhaled corticosteroids\n\n";
            break;
        case 'cardiovascular_diseases':
            suggestionsTextarea.value += "Suggestions for cardiovascular:\n- Follow a heart-healthy diet.\n- Exercise regularly.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Statins\n- Beta-blockers\n\n";
            break;
        case 'cancer':
            suggestionsTextarea.value += "Suggestions for cancer:\n- Follow treatment plan recommended by oncologist.\n- Seek support from friends and family.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Chemotherapy drugs\n- Targeted therapy drugs\n\n";
            break;
        case 'chronic_respiratory_diseases':
            suggestionsTextarea.value += "Suggestions for resoiratory:\n- Avoid smoke and pollutants.\n- Use respiratory aids as prescribed.\n\n";
            suggestionsTextarea.value += "Prescribed Medications:\n- Bronchodilators\n- Corticosteroids\n\n";
            break;
        case 'none':
            suggestionsTextarea.value += "You are Absolutely Fit n Fine!!!";
            suggestionsTextarea.value += "You are Absolutely Fit n Fine!!!";
            break;
        default:
            suggestionsTextarea.value = "No suggestions available.You are Fit n Fine";
            break;
        }
            }


            // Show the suggestions box
            suggestionsBox.style.display = 'block';
        }



        // Function to handle billing option selection
        document.querySelectorAll('input[name="billing_option"]').forEach((elem) => {
            elem.addEventListener("change", function(event) {
                if (event.target.value === "opd") {
                    document.getElementById("opd_billing_form").style.display = "block";
                    document.getElementById("indoor_billing_form").style.display = "none";
                    calculateTotal(); // Recalculate total for OPD billing
                } else if (event.target.value === "indoor") {
                    document.getElementById("opd_billing_form").style.display = "none";
                    document.getElementById("indoor_billing_form").style.display = "block";
                    calculateTotal(); // Recalculate total for indoor billing
                }
            });
        });

        // Function to validate admission date
        function validateAdmissionDate() {
            var admissionDateInput = document.getElementById('admission_date');
            var admissionDate = new Date(admissionDateInput.value);
            var currentDate = new Date();

            if (admissionDate > currentDate) {
                alert("Admission date cannot be in the future.");
                admissionDateInput.value = ''; // Clear the input value
            }
        }

        // Function to validate discharge date
        function validateDischargeDate() {
            var dischargeDateInput = document.getElementById('discharge_date');
            var dischargeDate = new Date(dischargeDateInput.value);
            var currentDate = new Date();

            if (dischargeDate > currentDate) {
                alert("Discharge date cannot be in the future.");
                dischargeDateInput.value = ''; // Clear the input value
            }
        }

        // Function to print the bill
        function printBill() {
            window.print();
        }
    </script>
</body>
</html>
{% endblock content %}
