{% include 'base.html' %}
{% include 'navigation.html' %}
<style>
    .contact-card {
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        padding: 15px;
        transition: box-shadow 0.3s, transform 0.3s;
        margin-bottom: 30px;
    }

    .contact-card:hover {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }

    .contact-icon {
        font-size: 32px;
        color: #007bff;
    }

    .contact-title {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .contact-info {
        font-size: 16px;
    }

    .contact-info a {
        color: #007bff;
        text-decoration: none;
    }

    .sub-heading {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }

    /* Make entire card clickable */
    .contact-card-link {
        display: block;
        text-decoration: none;
        color: inherit; /* Inherit color from parent */
    }
</style>

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Contact Us</h1>
    <div class="row align-items-start">
        <div class="col-lg-4 col-md-6">
            <a href="tel:+9876543210" class="contact-card-link">
                <div class="contact-card">
                    <i class="fa fa-phone-square contact-icon"></i>
                    <h3 class="contact-title">Contact</h3>
                    <p class="contact-info">+91 9876543210</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="mailto:Hospital123@gmail.com" class="contact-card-link">
                <div class="contact-card">
                    <i class="fa fa-envelope contact-icon"></i>
                    <h3 class="contact-title">Send Email</h3>
                    <p class="contact-info">Hospital123@gmail.com</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="https://tinyurl.com/2abjpz5v" class="contact-card-link">
                <div class="contact-card">
                    <i class="fa fa-map contact-icon"></i>
                    <h3 class="contact-title">Office Address</h3>
                    <p class="contact-info">
                        <span class="sub-heading">Navigate to:</span>
                        Chowbaga Rd, Anandapur, Mundapara, Kolkata, West Bengal 700107
                    </p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="#" class="contact-card-link">
                <div class="contact-card">
                    <i class="fa fa-clock contact-icon"></i>
                    <h3 class="contact-title">Office Time</h3>
                    <p class="contact-info">10AM to 5PM</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="https://wa.me/+919876543210" class="contact-card-link">
                <div class="contact-card">
                    <i class="fab fa-whatsapp contact-icon"></i>
                    <h3 class="contact-title">Whatsapp Us:</h3>
                    <p class="contact-info">
                        +91 9876543210
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
{% include "footer.html" %}