{%include 'base.html'%}
{%include 'navigation.html'%}


{% block content %}
<div class="container" style="margin-top: 50px;">
    <h1 class='text-center'>Contact Us</h1>
    <div class="row mt-5 text-center">
      <div class="col-lg-3">
        <h4>Contact</h4>
      </div>
      <div class="col-lg-3">
        <h4>Send-email</h4>
      </div>
      <div class="col-lg-3">
        <h4>Office Address</h4>
      </div>
      <div class="col-lg-3">
        <h4>Office Address</h4>
      </div>
    </div>
</div>
{% endblock content %}