{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}
{% if error == "no" %}
<script>
    alert('logged in successfully');
    window.location = "{% url 'dashboard' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('invalid login try again');
</script>
{% endif %}
<div class="container">
    <h2 class="text-center">Admin Login</h2>
    <form method="POST" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="uname">Admin Name</label>
            <input type="text" class="form-control" id="uname" name="uname" placeholder="Enter admin name">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>
{% endblock content %}
{% include 'footer.html' %}
