{%include 'base.html'%}
{% load static %}
{%include 'navigation.html'%}

<div>

    <h2>View Patient</h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th>PatientID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in doc %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.Name}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.address}}</td>
                <td><a href="{%url 'delete_patient' i.id %}" 
                    onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger" >Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{%include 'footer.html'%}